@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    body {
        @apply transition-colors duration-500 ease-in-out;
    }
}